@charset "utf-8";
/**
 * @File Name : ThisFileName
 * @Description : Base Adjust + Layout[main+sub] Desktop First!
 * @Modification Information
 * <pre>
 * Modified | Modifier | Revisions
 * 20150429 | @m | The first written
 * 20150508 | @m | Advanced~
 * 20151005 | @m | #tnb1 모바일
 * 20160428 | @m | #tnb1 모바일
 * 20161014 | @m | 고도화
 * 20170320 | @m | 고도화
 * 20180206 | @m | font
 * 20180207 | @m | font
 * 20181212 | @m | 배치 고도화
 * 20191204 | @m | body{overflow-x:hidden;}
 * 20201020 | @m | font-family 선택자 수정 | tab-size:2 추가
 * 20201028 | @m | 고도화
 * 20211221 | @m | 
 * </pre>
 * @author : WebStandard UI Developer MYS
 * @since 2007.03.02
 *
 * @Copyright ⓒ myshin@naver.com All rights reserved.
 */

/*! CSS Library v20150522 r20160429 | by MYS[myshin@naver.com] | MIT License
 * Task) Mobile First
 */

/* [IE8+]compatible!
 :before
 :after
 border-box
 */

/* Table of contents ))
 | Base Adjust
 | Layout[main+sub] Desktop First!
 | clearfix
 | #head, ..
 | ETC
 | @media print{}
 | RWD ◇◆
 */

/* ◇◆ Note ◇◆◇◆◇◆◇◆◇◆◇◆ */

/* ◇◆ Can use Sample Code under here. ◇◆◇◆◇◆◇◆◇◆◇◆ */


/* ◇◆ Base Adjust ◇◆◇◆◇◆◇◆◇◆◇◆ */

/* ☆@import url(base.css); */

/* base.css )) Overwrite. 20211221 ◆◆◆ */


html{
	font-size:75%; /* 12px */
	scroll-behavior: smooth; /* 20211221 */
}
body{
	color:#444;
	font-weight:400;
  font-size:1em;
  line-height:1.75; /* ☆ */
	/* letter-spacing:-.03125em; */
	overflow-x:hidden; /* ★ Avoid horizontal scrolling */
}

/* :lang(ko){
	font-family:
		'나눔고딕',NanumGothic,'Nanum Gothic',
		'맑은 고딕','Malgun Gothic',
		'돋움',Dotum,
		Helvetica,
		sans-serif;
} */

[lang|='ko'],
[lang|='ko']>*{
	font-family:
		/* 'Apple SD Gothic Neo',
		'본고딕',NotoSans,'Noto Sans CJK KR',
		'Open Sans',OpenSans,
		'Microsoft JhengHei',
		'Meiryo', */
		'나눔고딕',NanumGothic,'Nanum Gothic',
		'맑은 고딕','Malgun Gothic',
		'돋움',Dotum,
		Helvetica,'Helvetica Neue',
		Arial,
		sans-serif;
}

pre,
.xmp{
	tab-size:2;-moz-tab-size:2;
}


/* font-awesome.min.css )) Overwrite. 20150518. ◆◆◆ */


.fa:before{content:'' !important;}


/* ◇◆ Layout[main+sub] ◇◆◇◆◇◆◇◆◇◆ */


html,
body,
#container, #wrap, #body{min-height:100%;}
.container{position:relative;
	min-width:360px;
	max-width:1200px;
	margin:0 auto;
}
#container{position:static;
	/* background:#f5f7f8; */
}
	div.bg2top{}
		div.bg2top>div{}
	div.bg2btm{}
		div.bg2btm>div{}
	#head{z-index:40;
		clear:both;
		position:relative;
		border-bottom:1px solid #ddd;
		background:#123;
	}
		div.bg2head{}
			div.bg2head>div{}
		#head_s1{z-index:30;
			position:relative;
			min-height:30px;
			border-top:1px solid #234;
			background:#123;
		}
		#head_s2{z-index:20;
			position:relative;
			background:#fff;
		}
		#head_s3{z-index:10;
			position:relative;
		}
	#head_s4{clear:both;
		position:relative;
		z-index:35;
	}
		#head_s4 .container{}
	#wrap{z-index:20;
		clear:both;
		position:relative;
	}
		#wrap .container{background:#fff;}
	#wing{z-index:101;
		position:fixed;left:50%;top:50%;width:50%;
		max-width:600px; /* (1200/2) */
	}
	#foot{z-index:30;
		clear:both;
		position:relative;
		background:#eee;
	}
		div.bg2foot{}
			div.bg2foot>div{}
		#foot_s1{
			position:relative;
			min-height:30px;
			padding:12px;
			background:#777;
		}
		#foot_s2{
			position:relative;
			min-height:30px;
			padding:12px;
		}
			#foot_s2 .container{
				border-bottom:1px solid #ddd;
			}
		#foot_s3{
			position:relative;
			min-height:30px;
			padding:12px;
		}


/* #wrap */


/* >>> sub.css, main.css */


/* #head */


/* 로고 20181212. 20201028 */
h1#logo{float:left;
	position:relative;
	width:100%;
	height:40px;
	font-weight:600;
	font-size:20px;
	font-family:'Helvetica Neue';
	letter-spacing:0;
	text-align:center;
}
h1#logo a{display:block;
	position:relative;
	color:#fff;
	line-height:40px;
	text-decoration:none;
}


/* 메뉴.픽1글1 20150518 ★☆ http://fontawesome.io/ */
#gn3{float:left;
	position:relative;
	margin-top:-40px;
}
#gn3 *{color:#fff;vertical-align:middle;}
#gn3 ul{float:left;}
#gn3 li{float:left;}
#gn3 li:first-child{border:0;}
#gn3 li a{display:block;padding:0 1em;opacity:.8;}
#gn3 li a:hover{opacity:1;}
#gn3 li a .fa{margin-right:.2em;font-size:21px;line-height:40px;}
#gn3 li a .t1{line-height:40px;}


/* 메뉴.인라인 20150518 */
#gn1{float:left;position:relative;margin:0 1.5%;padding:15px 0;overflow:hidden;}
#gn1 ul{float:left;margin:0 0 0 -1px;}
#gn1 li{float:left;height:10px;border-left:1px solid #567;}
#gn1 li a{display:block;margin:-15px -1px 0 0;padding:0 1em;color:#fff;line-height:40px;}
#gn1 li a:hover{background:#000;}
#gn1 .m.join,
#gn1 .m.login{display:none;}
#gn1 .m.modify,
#gn1 .m.logout{display:block;}


/* 메뉴.드롭다운 ▽ 20150518 */
#gn2{z-index:10;
	float:right;
	position:relative;
	height:100%;
	margin-top:-40px;
}
#gn2 a.toggle{display:block;position:relative;height:100%;padding:0 1em;border-left:1px solid #234;border-right:1px solid #234;color:#fff;line-height:40px;text-align:center;text-decoration:none;overflow:hidden;}
#gn2 a.toggle .t1{float:left;}
#gn2 a.toggle .ic1{float:left;width:0;height:0;margin:19px 0 0 4px;border:4px solid transparent;border-top-color:#89a;overflow:hidden;text-indent:100%;}
#gn2 a.toggle.on{background:#345;}
#gn2 a.toggle.on .ic1{margin-top:15px;border-top-color:transparent;border-bottom-color:#89a;}
#gn2c{display:none;position:absolute;left:0;top:100%;width:100%;border-top:1px solid #456;background:#345;}
#gn2 ul{float:left;width:100%;}
#gn2 li{float:left;width:100%;}
#gn2 li a{display:block;padding:0 1em;line-height:30px;color:#fff;}
#gn2 li a:hover{background:#000;}


/* 검색 20181211 */
#search1{float:right;
	position:relative;
	width:200px;
	margin:13px 30px 0 0;
	padding:0 40px 0 0;
	overflow:hidden;
}
#search1 input.text{float:left;
	box-sizing:border-box; /* ☆ */	
	width:100%;
	height:37px;
	margin:0;
	padding:0 4px;
	border:1px solid #ccc;
	border-radius:0;
	background:#fff;
	color:#666;
	line-height:35px;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .05) inset;
}
#search1 .submit{float:left;
	width:40px;
	height:37px;
	margin:0 -40px 0 -1px;
	padding:0;
	border:1px solid #ccc;
	background:#fff;
	line-height:normal;
	text-align:center;
	overflow:hidden;
}
#search1 .submit .ic1{display:inline-block;width:20px;height:20px;
	background:url(../../img/inc/ic40search1@2x.png) no-repeat;background-size:contain;
}


/* #head_below */


/* 현재위치. 빵조각 */
.breadcrumb{position:relative;color:#969696;line-height:42px;white-space:nowrap;overflow:hidden;}
.breadcrumb a{float:left;padding-left:.75em;color:#666;}
.breadcrumb .sep{float:left;width:21px;height:100%;background:url(../../img/inc/location1s.png) no-repeat -50px 50%;text-align:center;overflow:hidden;text-indent:-9999px;}
.breadcrumb .on{padding:0 1px 0 0;font-weight:bold;text-decoration:none;cursor:default;}
.breadcrumb .home{float:left;width:21px;height:100%;margin-left:1.5%;padding:0 0 0 .75em;background:url(../../img/inc/location1s.png) no-repeat .75em 50%;overflow:hidden;text-indent:-9999px;}


/* #wing */


#wn1{z-index:101;
	position:absolute;
	/* position:sticky; */
	right:0;top:0;
	width:40px;
	margin:0 -60px 0 0;
	text-align:center;
}
#wn1 a{display:block;
	padding:6px;
	border-radius:6px;
	background:#ddd;
}

#wn1 a.wn1gotop .ic1{display:inline-block;
	margin:0 -6px -2px;
	border:6px solid transparent;border-bottom-color:#333;border-top:0;
	overflow:hidden;
	text-indent:100%;
}
#wn1 a.wn1gotop .t1{display:block;}
#wn1 a.wn1gotop{color:#000 !important;opacity:.5;}
#wn1 a.wn1gotop:hover,
#wn1 a.wn1gotop:focus{opacity:1;}


/* #foot */


/* DropupMenu△ 20150520 */
#familysite1{z-index:10;float:left;margin-bottom:-5px;}
.familysite1g1{z-index:10;float:left;position:relative;margin:0 5px 5px 0;}
.familysite1g1 .h1{font-weight:normal;font-size:1em;}
.familysite1g1 .h2{clear:both;display:block;margin:.5em 0;padding:1em 1em .5em;border-top:1px solid #ddd;border-bottom:1px solid #eee;color:#333;font-weight:bold;font-size:1em;}
.familysite1g1 .h2:first-child{margin-top:0;padding-top:.5em;border-top:0;}
.familysite1g1 a.toggle{z-index:10;display:block;position:relative;height:100%;padding:0 1em;border:1px solid #ddd;background:#fff;color:#666;line-height:28px;text-align:center;text-decoration:none;overflow:hidden;}
.familysite1g1 a.toggle .t1{float:left;}
.familysite1g1 a.toggle .ic1{float:left;width:0;height:0;margin:8px -4px 0 4px;border:4px solid transparent;border-bottom-color:#999;overflow:hidden;text-indent:100%;}
.familysite1g1 a.toggle.on{background:#fcfcfc;box-shadow:inset 0 2px 1px 0 rgba(0, 0, 0, .05);}
.familysite1g1 a.toggle.on .ic1{margin-top:14px;border-bottom-color:transparent;border-top-color:#999;}
/* content */
.familysite1g1c{display:none;position:absolute;left:0;right:0;bottom:100%;margin:0 0 -1px 0;}
.familysite1g1box{min-height:0;padding:.5em 0 0;border:1px solid #ddd;background:#fcfcfc;box-shadow:0 0 5px 0 rgba(0, 0, 0, .1);}
.familysite1g1box:before,
.familysite1g1box:after{content:'';display:table;clear:both;}
.familysite1g1 ul{margin:0 -1px;margin-bottom:.5em;overflow:hidden;}
.familysite1g1 li{float:left;width:100%;}
.familysite1g1 li a{display:block;margin-left:-1px;padding:.3em 1em;border-left:1px solid #eee;line-height:1.333;color:#666;}
.familysite1g1 li a:hover{background:#666;color:#fff;}
.familysite1g1 a.close{float:left;position:absolute;left:0;right:0;bottom:0;height:28px;margin:0 0 -29px;overflow:hidden;text-indent:-9999px;}
/* width expand */
.familysite1g1[data-expand=x2] a.toggle.on{border-top:1px solid #ddd;}
.familysite1g1[data-expand=x2] .familysite1g1box{width:20em;margin-bottom:6px;}
.familysite1g1[data-expand=x2] .familysite1g1box li{width:50%;}


/* 20150518.★☆ Menu - Icon only png (because no Korean SNS bland font) background-size:contain; */
#snslink1{float:right;position:relative;opacity:.5;overflow:hidden;}
#snslink1 ul{float:left;}
#snslink1 li{float:left;width:40px;height:40px;margin:0 0 10px 10px;}
#snslink1 li>a{float:left;width:100%;height:100%;border-radius:50%;background:#000;overflow:hidden;text-indent:-9999px;}
#snslink1 li>a>.ic1{float:left;width:50%;height:50%;margin:25% 0 0 25%;background:url() no-repeat;background-size:contain;}
#snslink1 li.mail>a>.ic1{background-image:url(../../img/inc/sns100mail2.png);}
#snslink1 li.facebook>a>.ic1{background-image:url(../../img/inc/sns100facebook2.png);}
#snslink1 li.twitter>a>.ic1{background-image:url(../../img/inc/sns100twitter2.png);}
#snslink1 li.youtube>a>.ic1{background-image:url(../../img/inc/sns100youtube2.png);}


/* 20150520.★☆ logo */
#foot_logo{float:left;position:relative;min-height:36px;padding:0 1em;color:#969696;font:normal 18px/36px 'Helvetica Neue';}


/* 20150520.★☆ Menu - horizontal - separator png */
#fn1{float:left;position:relative;min-height:36px;overflow:hidden;}
#fn1 ul{float:left;position:relative;/* left:-1px; */}
#fn1 li{float:left;padding:0 0 0 1px;background:url(../../img/inc/fn1s.png) no-repeat 0 50%;}
#fn1 li>a{float:left;padding:0 1em;color:#333 !important;line-height:36px;white-space:nowrap;}


/* 20150519.★☆ DL - horizontal */
#visitor1{float:right;position:relative;padding:1em 0;font-size:.923em;text-align:right;}
#visitor1 *{display:inline;color:#666;}
#visitor1 :first-child+*{margin-right:1em;}


/* 20181211 */
#author1{float:left;position:relative;padding:1em 0;color:#666;font-size:.923em;}


/* #side */
/* #sidebar */


/* #body */


/* #body_head */


/* 현재위치 */
#location1{clear:both;position:relative;margin:0 0 2em 0;min-width:1em;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#f7f7f7;}
#location1 .breadcrumb{position:relative;color:#969696;line-height:30px;white-space:nowrap;overflow:hidden;}
#location1 .breadcrumb a{float:left;padding-left:.75em;color:#666;}
#location1 .breadcrumb .sep{float:left;width:21px;height:100%;background:url(../../img/inc/location1s.png) no-repeat -50px 50%;text-align:center;overflow:hidden;text-indent:-9999px;}
#location1 .breadcrumb .on{padding:0 1px 0 0;font-weight:bold;text-decoration:none;cursor:default;}
#location1 .breadcrumb .home{float:left;width:21px;height:100%;margin-left:.75em;padding:0;background:url(../../img/inc/location1s.png) no-repeat 0 50%;overflow:hidden;text-indent:-9999px;}


/* 본문제목 */
#body_title{float:left;position:relative;}
#body_title h1{position:relative;height:1em;margin:.666em 0;padding:0 0 0 .333em;border:0;border-left:.25em solid #0be;line-height:1;background:transparent;}
#body_title h1:before{content:'';float:left;position:absolute;left:-7px;top:0;width:7px;height:6px;background:#9c0;overflow:hidden;}


/* 본문유틸 20150521.★☆ Button Group - sprite */
#bhn1{z-index:30;float:right;position:relative;margin:0 0 20px;overflow:hidden;}
#bhn1 ul{list-style:none;float:right;margin:0;padding:0;border:1px solid #ccc;overflow:hidden;}
#bhn1 li{display:inline;}
#bhn1 li>a{float:left;width:40px;height:40px;margin:0 0 0 -1px;padding:1px 0;border-left:1px solid #eee;overflow:hidden;}
#bhn1 li>a>.t1{display:block;margin:5px 0;padding:1px 0;background:url(../../img/inc/bhn1s.png) no-repeat;text-indent:-9999px;}
#bhn1 li>a>.ic1{display:block;width:20px;height:20px;margin:10px auto 0;background:url(../../img/inc/bhn1s.png) no-repeat;text-indent:-9999px;}
#bhn1 li.m1>a>.ic1{background-position:0 -50px;}
#bhn1 li.m2>a>.ic1{background-position:0 -100px;}
#bhn1 li.m3>a>.ic1{background-position:0 -150px;}
#bhn1 li.m4>a>.ic1{background-position:0 -200px;}
#bhn1 li.m5>a>.ic1{background-position:0 -250px;}
#bhn1 li.m6>a>.ic1{background-position:0 -300px;}


/* #body_foot */


/* 20150521.★☆ Button Text - sprite */
#bfn1{float:right;margin:0 0 -1.5em 0;padding:1em 1.5%;}
#bfn1 ul{list-style:none;float:left;margin:0;padding:0;}
#bfn1 li{display:inline;}
#bfn1 li>a{float:left;margin:-3px 0 0 .6em;padding:0 .6em;border:1px solid #ccc;background:#fff;color:#666;white-space:nowrap;}
#bfn1 li>a>.t1{float:left;line-height:20px;}
#bfn1 li>a>.ic1{float:left;width:12px;height:12px;margin:4px 2px 4px 0;background:url() no-repeat;background-size:contain;}
#bfn1 li.print>a>.ic1{background-image:url(../../img/inc/ic24print.png);opacity:.5;}

/* 20150521.★☆ Typo - nowrap */
#charge1{float:left;padding:1em 1.5%;}
#charge1 dl{float:left;margin:0;padding:0;color:#666;line-height:20px;white-space:nowrap;}
#charge1 dt{float:left;margin:0;padding:0 1em 0 0;background:url(../../img/inc/charge1s.png) no-repeat 100% 50%;color:#333;}
#charge1 dd{float:left;margin:0;padding:0 2em 0 .9em;}
#charge1 dt.contact1{}
#charge1 dt.contact1+dd{}
#charge1 dt.update1{}
#charge1 dt.update1+dd{}
#charge1 strong{font-weight:normal;}
#charge1 .phone1{margin:0 0 0 .333em;letter-spacing:0;}

/* 20150828.★☆ Satisfy1 Form - width 100% */
#satisfy1{clear:both;position:relative;padding:0 1.5%;border-top:1px solid #eee;}
#satisfy1 *{vertical-align:middle;}
#satisfy1 fieldset{position:relative;margin:1em 0;}
#satisfy1 legend{}
#satisfy1 .question{margin:0;padding:0;color:#444;font-size:1.154em;}
#satisfy1 .answer{position:relative;padding:0 14em 0 0;overflow:hidden;}
#satisfy1 .grade{margin:0 -14em 0 0;padding:.5em 0;color:#666;}
#satisfy1 .grade label{margin-right:1.5em;}
#satisfy1 .grade input.radio{}
#satisfy1 .opinion{float:left;width:100%;}
#satisfy1 input[type=text]{float:left;width:100%;height:35px;margin:0;padding:0 .4em;border:1px solid #999;border-radius:0;background:#fff;color:#666;line-height:35px;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1) inset;
	box-sizing:content-box;
}
#satisfy1 .btns{float:right;margin:0 -14em 0 0;}
#satisfy1 .bt1{float:left;width:6em;height:37px;margin:0 3px 0 0;padding:0;border:0;border-radius:0;background:#666;color:#fff !important;font-size:1.077em;line-height:39px;text-decoration:none;}
#satisfy1 .bt1.stats{width:auto;padding:0 1em;background:#47a;}


/* #aside */


.side .h2{z-index:10;position:relative;margin:0 0 2px 0;padding:3px 6px;border:0;border-radius:3px;background:#4a0;color:#efe;
	font:600 .92em/1.28 '나눔고딕';letter-spacing:0;
	box-shadow:0 0 0 3px rgba(255, 255, 255, 1);
	overflow:hidden;}
.side .h2>a{color:#fff;}
.side menu{position:relative;margin:0 0 .7em 0;padding:0 0 1px 0;overflow:hidden;}
.side menu:before{content:'';display:block;position:absolute;left:0;right:0;bottom:0;border-bottom:1px solid #eee;}
.side menu:last-of-type{padding:0 0 1px 0;border-bottom:2px solid #f7f7f7;}
.side li{float:left;width:100%;}
.side li>a{display:block;padding:3px 5px;margin:0 0 -1px -1px;border:1px solid #eee;border-width:1px 0 1px 1px;color:#036;text-decoration:none;font-size:1em;line-height:1.167;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.side li>a[href]:hover{z-index:10;position:relative;margin:0 0 -1px 0;padding:3px 5px 3px 4px !important;border:1px solid #9c6 !important;background:#f6fcf0;color:#370;}
.side menu:first-child>li>a{border-color:transparent;}
/* grid column equal width */
.side li.ce2{width:50%;}
.side li.ce3{width:33.333%;}
.side li.ce4{width:25%;}
/* grid column span */
.side li.cs0{width:0.000%}
.side li.cs1{width:8.333%} /* 100%/12 */
.side li.cs2{width:16.666%}
.side li.cs3{width:24.999%}
.side li.cs4{width:33.332%}
.side li.cs5{width:41.665%}
.side li.cs6{width:49.998%}
.side li.cs7{width:58.331%}
.side li.cs8{width:66.664%}
.side li.cs9{width:74.997%}
.side li.cs10{width:83.330%}
.side li.cs11{width:91.663%}
.side li.cs12{width:100%}
/* anotherStyle */
.side li.todo{background:#eee;}


/* ETC */

/* 20150612.★☆ SideShrinkExpand - left fluid height:100%; */
.doSide{position:fixed;right:50%;top:0;width:0;width:50%;max-width:750px /* (1440/2)+30 */;height:100%;}
*+html .doSide{display:none;}
.doSide .button{z-index:110;float:left;position:absolute;left:0;top:0;height:100%;border:0;margin:0;padding:0;background:#f7f7f7 !important;overflow:hidden;text-indent:-9999px;opacity:.2;}
.doSide .button:hover,
.doSide .button:focus{background:#f7f7f7 !important;opacity:.6;}
.doSide .button .ic1{float:left;width:0;height:0;border:8px solid transparent;border-width:12px 8px;background:transparent;}
.doSide .button.doSideShrink{display:block;}
.doSide .button.doSideExpand{display:none;}
.doSide .button.doSideShrink .ic1{left:0;margin:0 5px 0 -5px;border-right-color:#666;}
.doSide .button.doSideExpand .ic1{left:18px;margin:0 -5px 0 5px;border-left-color:#666;}


/* YYYYMMDD.Writer. ◇◆ */


/* ◇◆ @media print{} ◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆ */

@media print{ /* 20160428. )) @media all{} /share/ui/printpage.html */
	/* hide */
	#head, #visual, #foot, #wing, #sidebar, #side, #aside,
	#head_below,
	#body_foot,
	#body_head>#body_title,
	#body_head>#location1,
	#body_head>#bhn1,
	#tnb1,
	.bg, .noprint{display:none !important;}
	/* show */
	html{background:#fff !important;}
	body,
	#container, #wrap, 	#body,
	#body_head,
	#body_content{float:none !important;left:0 !important;top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;height:auto !important;margin:0 !important;padding:0 !important;border:0 !important;background:transparent !important;overflow:visible !important;box-shadow:none !important;}
	#body_title{display:block !important;position:static !important;left:0 !important;top:0 !important;height:auto !important;margin:0 0 1em 0 !important;padding:0 0 1em 0 !important;border:0 !important;}
	table{border-color:#999 !important;}
	table th,
	table td{border-color:#999 !important;}
}


/* RWD ◇◆◇◆◇◆◇◆◇◆◇◆ */
/* small~xlarge */
@media all and (max-width:999px){/* small ◇◆◇◆◇◆◇◆◇◆ */


/* 주메뉴 20181211.★☆ makeActive('#tnb1'); */
#tnb1{z-index:20;
	position:relative;
}
#tnb1 .b1{display:none;
	float:left;
	text-indent:-9999px;
}
/* depth1~4 */
#tnb1 ul{
	border-bottom:1px solid #ddd;
	background:#234;
}
#tnb1 ul:after{content:'';display:table;clear:both;}
#tnb1 li{
	float:left;
	position:relative;
	box-sizing:border-box; /* ☆ */
	width:33.333%;
}
#tnb1 li>a{z-index:10;
	display:block;
	position:relative;
	color:#fff;
	transition:.1s ease-out;
}
/* div.d1 추가하여 우선순위 */
#tnb1 div.d1 li:hover>a,
#tnb1 div.d1 li>a:hover,
#tnb1 div.d1 li>a:focus{background:#234;color:#fff;}
#tnb1 div.d1 li.on>a{background:#123;color:#fff;}
/* depth2~4 */
/* 호버포커스
#tnb1 li:hover>div[class^='d'],
#tnb1 a:focus+div[class^='d'],
#tnb1 a.on+div[class^='d']{display:block;}
*/
/* 클릭 */
/* #tnb1 li>div[class^='d']{display:none;float:left;}
#tnb1 li.on>div[class^='d']{display:block;} */
#tnb1 li>div[class^='d']{visibility:hidden;float:left;height:0;overflow:hidden;opacity:0;
		transition:.2s;
}
#tnb1 li.on>div[class^='d']{visibility:visible;height:auto;overflow:visible;opacity:1;}
/* depth1 */
#tnb1 div.d1{float:left;position:relative;}
#tnb1 div.d1>ul{margin:0 0 0 -1px;}
#tnb1 div.d1>ul>li{
	border-top:1px solid #f7f7f7;
	border-left:1px solid #f7f7f7;
}
#tnb1 div.d1>ul>li>a{
	padding:.5em 1.25em;
	background:#fff;
	color:#000;
	font-weight:600;
	font-size:1.25em;
	text-align:center;
}
#tnb1 div.d1>ul>li.hasSub.on>a:after{content:'';float:left;position:absolute;left:50%;bottom:0;width:0;height:0;margin:0 -5px;border:6px solid transparent;border-bottom-color:#345;overflow:hidden;text-indent:100%;}
/* depth2 */
#tnb1 div.d2{
	z-index:20;
	position:absolute;
	left:0;top:100%;width:12em;box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);}
#tnb1 div.d2>ul>li{width:100%;}
#tnb1 div.d2>ul>li>a{padding:.666em 1em;border-right:1px solid #678;border-bottom:1px solid #678;background:#345;}
/* depth3 */
#tnb1 div.d3{;position:absolute;left:100%;top:0;width:100%;box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);}
#tnb1 div.d3>ul>li{width:100%;}
#tnb1 div.d3>ul>li>a{padding:.666em 1em;border-right:1px solid #789;border-bottom:1px solid #789;background:#456;}
/* depth4 */
#tnb1 div.d4{;position:absolute;left:100%;top:0;width:100%;box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);}
#tnb1 div.d4>ul>li{width:100%;}
#tnb1 div.d4>ul>li>a{padding:.666em 1em;border-right:1px solid #89a;border-bottom:1px solid #89a;background:#567;}
/* deco */
#tnb1 div.d2>ul>li.hasSub>a:after{content:'';float:left;position:absolute;right:0;top:1.083em;width:0;height:0;margin:0;border:4px solid transparent;border-left-color:#678;overflow:hidden;text-indent:100%;}
#tnb1 div.d2>ul>li.hasSub.on>a:after{right:5px;border-color:transparent;border-right-color:#678;}
#tnb1 div.d3>ul>li.hasSub>a:after{content:'';float:left;position:absolute;right:0;top:1.083em;width:0;height:0;margin:0;border:4px solid transparent;border-left-color:#789;overflow:hidden;text-indent:100%;}
#tnb1 div.d3>ul>li.hasSub.on>a:after{right:5px;border-color:transparent;border-right-color:#789;}
#tnb1 div.d4>ul>li.hasSub>a:after{content:'';float:left;position:absolute;right:0;top:1.083em;width:0;height:0;margin:0;border:4px solid transparent;border-left-color:#89a;overflow:hidden;text-indent:100%;}
#tnb1 div.d4>ul>li.hasSub.on>a:after{right:5px;border-color:transparent;border-right-color:#89a;}


#search1{clear:both;
	float:none;
	width:auto;
	margin:0 20px;
	padding-top:15px;
	padding-bottom:15px;
}

.doSide{display:none;}


} /* /(max-width:999px) ◇◆◇◆◇◆◇◆◇◆ */
@media all and (min-width:640px){/* medium ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:640px) */
@media all and (min-width:1000px){/* large ◇◆◇◆◇◆◇◆◇◆ */


/* 주메뉴 20181211.★☆ makeActive('#tnb1'); */
#tnb1{z-index:20;
	float:left;
	position:relative;
	height:100%;
	margin:0 1.5% 0 20%;
}
#tnb1 .b1{display:none;
	float:left;
	text-indent:-9999px;
}
/* depth1~4 */
#tnb1 ul{
	float:left;
	width:100%;
	background:#234;
}
#tnb1 li{
	float:left;
	position:relative;
}
#tnb1 li>a{z-index:10;
	display:block;
	position:relative;
	color:#fff;
	transition:.1s ease-out;
}
/* div.d1 추가하여 우선순위 */
#tnb1 div.d1 li:hover>a,
#tnb1 div.d1 li>a:hover,
#tnb1 div.d1 li>a:focus{background:#234;color:#fff;}
#tnb1 div.d1 li.on>a{background:#123;color:#fff;}
/* depth2~4 */
/* 호버포커스
#tnb1 li:hover>div[class^='d'],
#tnb1 a:focus+div[class^='d'],
#tnb1 a.on+div[class^='d']{display:block;}
*/
/* 클릭 */
/* #tnb1 li>div[class^='d']{display:none;float:left;}
#tnb1 li.on>div[class^='d']{display:block;} */
#tnb1 li>div[class^='d']{visibility:hidden;float:left;height:0;overflow:hidden;opacity:0;
		transition:.2s;
}
#tnb1 li.on>div[class^='d']{visibility:visible;height:auto;overflow:visible;opacity:1;}
/* depth1 */
#tnb1 div.d1{float:left;position:relative;}
#tnb1 div.d1>ul>li{margin:0 -1px 0 0;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;}
#tnb1 div.d1>ul>li>a{
	padding:1.25em;
	background:#fff;
	color:#000;
	font-weight:600;
	font-size:1.375em;
	text-align:center;
}
#tnb1 div.d1>ul>li.hasSub.on>a:after{content:'';float:left;position:absolute;left:50%;bottom:0;width:0;height:0;margin:0 -5px;border:6px solid transparent;border-bottom-color:#345;overflow:hidden;text-indent:100%;}
/* depth2 */
#tnb1 div.d2{position:absolute;left:0;top:100%;width:12em;box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);}
#tnb1 div.d2>ul>li{width:100%;}
#tnb1 div.d2>ul>li>a{padding:.666em 1em;border-right:1px solid #678;border-bottom:1px solid #678;background:#345;}
/* depth3 */
#tnb1 div.d3{;position:absolute;left:100%;top:0;width:100%;box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);}
#tnb1 div.d3>ul>li{width:100%;}
#tnb1 div.d3>ul>li>a{padding:.666em 1em;border-right:1px solid #789;border-bottom:1px solid #789;background:#456;}
/* depth4 */
#tnb1 div.d4{;position:absolute;left:100%;top:0;width:100%;box-shadow:0 1px 2px 0 rgba(0, 0, 0, .1);}
#tnb1 div.d4>ul>li{width:100%;}
#tnb1 div.d4>ul>li>a{padding:.666em 1em;border-right:1px solid #89a;border-bottom:1px solid #89a;background:#567;}
/* deco */
#tnb1 div.d2>ul>li.hasSub>a:after{content:'';float:left;position:absolute;right:0;top:1.083em;width:0;height:0;margin:0;border:4px solid transparent;border-left-color:#678;overflow:hidden;text-indent:100%;}
#tnb1 div.d2>ul>li.hasSub.on>a:after{right:5px;border-color:transparent;border-right-color:#678;}
#tnb1 div.d3>ul>li.hasSub>a:after{content:'';float:left;position:absolute;right:0;top:1.083em;width:0;height:0;margin:0;border:4px solid transparent;border-left-color:#789;overflow:hidden;text-indent:100%;}
#tnb1 div.d3>ul>li.hasSub.on>a:after{right:5px;border-color:transparent;border-right-color:#789;}
#tnb1 div.d4>ul>li.hasSub>a:after{content:'';float:left;position:absolute;right:0;top:1.083em;width:0;height:0;margin:0;border:4px solid transparent;border-left-color:#89a;overflow:hidden;text-indent:100%;}
#tnb1 div.d4>ul>li.hasSub.on>a:after{right:5px;border-color:transparent;border-right-color:#89a;}


} /* /(min-width:1000px) */
@media all and (min-width:1260px){/* xlarge ◇◆◇◆◇◆◇◆◇◆ */
} /* /(min-width:1260px) */
/* ◇◆◇◆◇◆◇◆◇◆◇◆ */